<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inbox
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">
        Today's Consumption
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Select Food To Add</ion-label>
    <ion-select>
      <ion-select-option value="mango">Mango</ion-select-option>
      <ion-select-option value="apple">Apple</ion-select-option>
      <ion-select-option value="banana">Banana</ion-select-option>
      <ion-select-option value="orange">Orange</ion-select-option>
    </ion-select>
  </ion-item>

  <br>

  <ion-label>Calorie Goal</ion-label>
  <ion-progress-bar value="0.4"></ion-progress-bar>


  <ion-list>
    <app-message *ngFor="let message of getMessages()" [message]="message"></app-message>
  </ion-list>
</ion-content>